@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

* {
    font-family: 'MonteCarlo', cursive;
    font-size: 40px;
    transition: 1s linear;
}

body, .clock{
    margin: 0;
    background: #121a2b;
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

.clock {
    width: 350px; 
    height: 350px;
    border: 5px solid orangered;
    border-radius: 50%;
    overflow: hidden;
    background-color: #121a2b;
}

.con {
    display: flex;
    position: absolute;
    align-items:flex-end;
    justify-content: center;
    color: #fff;
}

.con .txt {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
    line-height: 40px;
}

.con .small-txt {
    position: absolute;
    font-size: 10px;
    top: 80%;
    left: 40%;
}

.inner-circle{
    width: 300px; 
    height: 300px;
    border: 1px solid orangered;
    border-radius: 50%;
    position: absolute;
    
    transform: translate(0% , 50%);
    background-color:#121a2b;
    z-index: 4;
}

.inner-circle .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10px;
    color: green;
    transform: rotate(var(--rotation));
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.second, .minute, .hour {
    width: 20px;
    height: 175px;
    background: #fff;
    transform-origin:bottom;
    position:absolute;
    z-index: 1;
}

.second {
    width: 5px;
    z-index: 3;
}

.minute {
    width: 10px;
    background-color: red;
    z-index: 2;
}

.hour {
    background-color: rgb(119, 0, 255);
}

